# Coding Bootcamp II Practice

In [ ]:
# use substring indexing to get the first 5 characters after (but not including) the first appearance of "is" in sentence
sentence = "This is USC."

In [ ]:
# use substring indexing to get the first 5 characters after (but not including) the first appearance of "is" in sentence

In [ ]:
# write a for loop that counts down from 10 to 1, printing each number as it goes

In [ ]:
# explain: why does the first line work, but the second line throw an error?
# 2 + 2 == 4
# 2 + 2 = 4

In [ ]:
# loop through the first 20 integers and print True if the number 80 is evenly divisible by each integer, otherwise False

In [ ]:
# loop through the numbers 1 through 15, using modulo to print 'even' if each is evenly divisible by 2, and 'odd' if not

In [ ]:
# write a function that accepts 2 arguments and uses modulo to return True if the first is evenly divisible by the second, and False if not

In [ ]:
# write a function that prints all the numbers between 0 and some argument called n