# Coding Bootcamp I Practice

In [ ]:
# in a single line, divide the sum of ninety plus seventy by the product of twelve and eleven

In [ ]:
# in a single line, create a new variable z and set it equal to x divided the sum of x plus y
x = 10
y = 5

In [ ]:
# create a new variable called rent and set it equal to 2500
# create a new variable called rent_float, from converting rent to a floating point number
# create a new variable called rent_str, from converting rent_float to a string

In [ ]:
# create a new dict variable containing the individual components of your home address

In [ ]:
# create a new string from the 1st, 3rd, and 5th characters in location
location = "Los Angeles, CA 90089"

In [ ]:
# extract the zip code characters from the end of the "location" variable and convert to integer

In [ ]:
# write a code snippet to multiply all the items in int_list by 3, then sum the result
int_list = [2, 4, 6, 8, 10]

In [ ]:
# calculate the mean value of int_list

In [ ]:
# write a short program to calculate the length of the hypotenuse of
# a right triangle where the other sides have lengths 3 and 4
# assign each side's length to its own variable